<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alice.alicepic.dao.PicDao">
    <insert id="insertPic" parameterType="com.alice.alicepic.entity.Pic">
        insert into pic(pic_name,description,src,time)
        values (#{pic_name},#{description},#{src},#{time})
    </insert>
    <select id="selectAllPic" resultType="com.alice.alicepic.entity.Pic">
        select * from pic
    </select>
    <select id="selectPic" resultType="com.alice.alicepic.entity.Pic">
        select * from pic order by pic_id desc limit #{pageStart},#{pageSize}
    </select>
    <update id="upLikes">
        update pic set likes=likes+1 where pic_id =#{id}
    </update>
    <update id="upDownload">
        update pic set download=download+1 where pic_id=#{id}
    </update>
    <insert id="insertPics" parameterType="com.alice.alicepic.entity.Pics">
        insert into pics(pic_name,description,src,time)
        values (#{pic_name},#{description},#{src},#{time})
    </insert>
    <select id="selectAllPics" resultType="com.alice.alicepic.entity.Pics">
        select * from pics
    </select>
    <delete id="deletePicsId">
        delete from pics where pic_id =#{id}
    </delete>
    <select id="selectPicLikeName" resultType="com.alice.alicepic.entity.Pic">
        select * from pic where pic_name like concat(concat('%',#{name},'%'))
        order by pic_id desc limit #{pageStart},#{pageSize}
            </select>
</mapper>